<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script th:href="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/jquery/jquery.min.js}"></script>
<title>Customer Form</title>
</head>
<body>
<div class="container">
	<h2>Form</h2>
	<form class="form-horizontal" th:action="@{/customer/save}" th:object="${customer}" method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label class="control-label">Name:</label><input class="form-control" type="text" th:field="*{name}" />
			<span  class="badge badge-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</span></br>
		</div>
		<div class="form-group">
			<label class="control-label">Last name: </label><input class="form-control" type="text" th:field="*{lastName}" />
			<span  class="badge badge-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error LastName</span></br>
		</div>
		<div class="form-group">
			<label class="control-label">Email: </label><input class="form-control" type="text" th:field="*{email}" />
			<span  class="badge badge-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span></br>
		</div>
		<div class="form-group">
			<label class="control-label">Created at: </label><input class="form-control" type="text" th:field="*{createdAt}" />
			<span  class="badge badge-warning" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}">Error CreatedAt</span></br>
		</div>
		<div class="form-group">
			<label class="control-label">Image: </label><input class="form-control" type="file" name="file" required="required"/>
		</div>
		<a th:href="@{/customer/list}" class="btn btn-secondary" >List Customers</a>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
</body>
</html>